.container-profile {
  margin-top: 50px;
}

.personal-info {
  background-color: #f9f9f9;
  padding: 0 20px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  width: 700px;
}

.form-control {
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.items span {
  background-color: #b49ced;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.items span i {
  margin-left: 5px;
  cursor: pointer;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.row{
  display: flex;
  justify-content: center;
}
.personal-info form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#btn-add{
  /* margin: 1rem 0; */
  background: #976ef9;
}
.form-group{
  display: flex;
  justify-content: space-between;
}
#btn-cancel{
  background: #717171ed;
}