.container{
    display: flex;
    padding: 2rem 5rem;
    margin: 4rem 6rem;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: .5rem;

}
.form form{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    /* align-items: flex-start; */
}
.form form input{
    padding: .6rem;
    width: 60.5%;
    border: solid 2px rgba(165, 165, 165, 0.219);
    border-radius: 5px;
}
.form form input:hover{
    outline: none;
    

}
.form form button{
    width: 65.5%;
    padding: .7rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    background-color: #9a7eff;
    border-radius: 4px;
    color: white;
    cursor: pointer;

}
.container div{
    width: 50%;
    height: auto;
}
.form p{
    margin: 0;
}

.form h1{
    margin-top: 0;
}
.form span{
    color: grey;
}
.form Link{
    text-decoration: none;
}
.error{
    padding-bottom: 8px;
    color: #ff0000ba;
}
.vector {
    width: 300px; /* or any desired width */
    height: 200px; /* or any desired height */
    overflow: hidden; /* to ensure the image doesn't overflow the parent */
    position: relative; /* optional, useful for positioning children */
}

.vector img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* To remove any default spacing added by the image */
    margin: auto; /* To center the image horizontally within the parent */
    position: absolute; /* optional, useful for positioning if needed */
    top: 0; /* optional, useful for positioning if needed */
    bottom: 0; /* optional, useful for positioning if needed */
    left: 0; /* optional, useful for positioning if needed */
    right: 0; /* optional, useful for positioning if needed */
}
