/* navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}
.navigation {
    color: #503581;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.navigation .logo span {
    color: #503581;
    font-size: 1.8rem;
    font-weight: 800;
}

.navigation-icons {
    display: flex;
    align-items: center;
}

.navigation-icons a {
    text-decoration: none;
    margin-left: 30px;
    color: #503581;
    font-size: 1.1rem;
    position: relative;
}

.navigation-icons a:hover {
    color: #7d5bae;
}

.navigation-icons .post button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: #f8558b;
    border: none;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    transition: background-color 0.3s;
}

.navigation-icons .post button:hover {
    background-color: #7d5bae;
}

#name {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 1rem;
}

#name-a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #503581;
}

.notification-dropdown {
    /* position: absolute;
    right: 0;
    top: 60px;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    border-radius: 4px;
    width: 300px;
    z-index: 1; */
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 3rem;
    background: white;
    width: 344px;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: transform 0.15s ease;
}
.notification-dropdown :hover{
    transform: translateY(-3px);
    

}
.notification-dropdown .notification-item {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    /* padding: 0.5rem 0;
    border-bottom: 1px solid #f1f1f1; */
}
.notification-message {
    font-size: small;
    margin-bottom: 0;
    background-color: #d9beff69;
}
.notification-dropdown .notification-item:last-child {
    border-bottom: none;
}

.notification-dropdown .notification-item button {
    padding: 0.3rem 0.5rem;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #8962d2;
    transition: background-color 0.3s;
}

.notification-dropdown .notification-item button:active {
    background-color: #503581;
    

}

.profile-dropdown-container{
    margin-left: 30px;
    position: relative;
    cursor: pointer;
}
.profile-icon{
    display: flex;
    gap: .3rem;
    align-items: center;
}
.profile-dropdown{
    position: absolute;
    padding: 1rem;
    /* width: 80%; */
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 46px;
    cursor: pointer;
    right: 0;

}

@media only screen and (max-width: 650px) {
    .navigation {
        justify-content: space-between;
    }

    .navigation-icons {
        display: none;
    }

    .navigation-search-container {
        display: none;
    }
}

