.partners-grid{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
}
.partner-card{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.partner-card img{
  width: 50px;
  height: 50px;
}
.prtn{
  display: flex;
  flex-direction: column;
}
.username ,.skills{
  margin: 0;
}
.post-title{
  text-decoration: none;
  font-size: x-large;
  font-weight: 800;
}
/* Chat interface */
.chat-interface {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

/* Messages container */
.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

/* Message bubble */
.message-bubble {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Input field */
.input-container input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Send button */
.input-container button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Send button on hover */
.input-container button:hover {
  background-color: #0056b3;
}
.room-container {
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.sent {
  background-color: #DCF8C6;
  align-self: flex-end;
}

.received {
  background-color: #E8E8E8;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sender {
  font-weight: bold;
}

.timestamp {
  color: #999;
  font-size: 0.8rem;
}

.message-content {
  word-wrap: break-word;
}
.messages-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}
.comment-input-container {
  display: flex;
  align-items: center;
}

.comment-input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.comment-input-container button {
  padding: 8px 16px;
  background-color: #e68203;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-input-container button:hover {
  background-color: #d67100;
}
