.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-card h2 {
    margin-top: 0;
  }
  
  .profile-card p {
    margin-bottom: 10px;
  }
  
  .profile-details {
    margin-top: 10px;
  }
  
  .profile-details p {
    margin-bottom: 5px;
  }
  
  .profile-card img {
    width: 100%;
    border-radius: 5px;
  }
.profile--{
    display: flex;
}  