.update-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .update-card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .update-card:hover {
    transform: translateY(-5px);
  }
  
  .tab {
    color: #c43939;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .heading {
    margin: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .view-details-link {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #ac7dff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .view-details-link:hover {
    background-color: #8e5ffb;
  }
  .avatar-u{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .user-info{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .user-name{
    font-size: larger;
    font-weight: 700;
  }
  .profile-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.popup-message {
    padding: 4rem;
    text-align: center;
    color: #333;
}

.popup-message button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-message button:first-of-type {
    background-color: #6647ff;
    color: #fff;
}

.popup-message button:first-of-type:hover {
    background-color: #846bff;
}

.popup-message button:last-of-type {
    background-color: #ccc;
    color: #333;
}

.popup-message button:last-of-type:hover {
    background-color: #bbb;
}
