.update{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.update-details{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 1rem;

}
.update-details span{
    text-transform: capitalize;
}
.update-details h2{
    cursor: pointer;
}
.update-details p{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .view-details-link {
    display: inline-block;
    padding: .5rem;
    background-color: #ac7dff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
  
  
.view-details-link:hover {
    background-color: #8e5ffb;
}
  