
  /* .view-details-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
  } */
  
  .view-details-link:hover {
    text-decoration: underline;
  }
.update-data{
  margin: 4rem;
}
.update-data Link{
  text-decoration: none;
}